* { /*CSS reset to remove browser defaults*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { /*Entire page*/
    background-color: rgb(24, 24, 24);
    font-size: 1.25vw;
}

h1 { /*Defaults for text color/fonts*/
    color: white;
    font-family: Georgia, serif;
}

p{
    color: white;
    font-family: Verdana, sans-serif;
}

header{
    text-align: center;
}

section {
    background-color: hsl(0, 0%, 15%);
    font-size: larger;
}

nav {
    background-color: hsl(0, 0%, 13%);
    border-bottom: 5px solid hsla(119, 100%, 9%, 0.678);
    margin-bottom:10px;
    font-size: 20px;
    font-weight: bold;
    position:sticky;
    top:0;
    z-index:2;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li#active {
    background-color: hsla(119, 100%, 9%, 0.678);
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding:8px 30px;
    text-decoration: none;
}

nav li:hover {
    background-color: hsl(0, 0%, 15%);
}

nav li#active:hover {
    background-color: hsl(119, 100%, 10%);
}

nav span.material-icons {
    vertical-align: sub;
}