* { /*CSS reset to remove browser defaults*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { /*Entire page*/
    background-color: rgb(24, 24, 24);
}

h1, p { /*Defaults for text color/fonts*/
    color: white;
}

header{
    text-align: center;
}

section {
    background-color: hsl(0, 0%, 15%);
    font-size: larger;
}

#aboutme {
    margin:10px 0px 0px 200px;
}

#aboutme p, h1{
    margin:0px 20px;
    padding:10px 0px;
    line-height: 30px;
}

#aboutme hr{
    margin: 0px 10px;
}

nav {
    background-color: hsl(0, 0%, 13%);
    border-bottom: 5px solid hsla(119, 100%, 9%, 0.678);
    margin-bottom:10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Calibri';
}

nav ul {
    list-style-type: none;
    margin-bottom: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li#active {
    background-color: hsla(119, 100%, 9%, 0.678);
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding:8px 30px;
    text-decoration: none;
}

nav li:hover {
    background-color: hsl(0, 0%, 15%);
}

nav li#active:hover {
    background-color: hsl(119, 100%, 10%);
}